@model ArticlesViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My blog</title>
</head>
<body>
<article>
    @RenderBody()

    @foreach(var article in @Model.Articles) {
    <h1>@article.Title</h1>
    }

    @if(Model.PreviousPageUri != string.Empty) {
    <a href="@Model.PreviousPageUri">Previous page</a>
    }

    @if(Model.NextPageUri != string.Empty) {
    <a href="@Model.NextPageUri">Next page</a>
    }
</article>
</body>
</html>